<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Whack A Maze Racer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangePasswordActivity"
            android:label="Change Password"></activity>
        <activity android:name=".AccountInformationActivity"
            android:label="Account Information"/>
        <activity android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"/>
        <activity android:name=".InGamePurchaseActivity"
            android:label="Purchase Gems"/>
        <activity android:name=".ViewScoreBoardActivity"
            android:label="Scoreboard"/>
        <activity android:name=".PlayGamesActivity"
            android:label="Play Game"/>
        <activity android:name=".Maze.MazeInstructionsActivity"
            android:label="Maze Instructions"/>
        <activity android:name=".TypeRacer.typeRacerInstruction"
            android:label="Type Racer Instructions"/>
        <activity android:name=".WhackAMole.MoleInstructionActivity"
            android:label="Whack A Mole Instructions"/>
        <activity android:name=".TypeRacer.GameOver" />
        <activity
            android:name=".ViewStatisticsPopUpActivity"
            android:theme="@style/AppTheme.Popup"
            android:label="User Stats"/>
        <activity android:name=".TypeRacer.TypeRacerCustomizationActivity"
            android:label="Type Racer"/>
        <activity android:name=".TypeRacer.TypeRacerEnd"
            android:label="Type Racer"/>
        <activity android:name=".Maze.MazeCustomizationActivity"
            android:label="Maze"/>
        <activity android:name=".TypeRacer.TypeRacer"
            android:label="Type Racer"/>
        <activity android:name=".SaveScoreActivity"
            android:label="Saving Score"/>
        <activity
            android:name=".GameActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".WhackAMole.MoleActivity"
            android:label="Whack A Mole"/>
        <activity
            android:name=".CreateAccountActivity"
            android:parentActivityName=".MainActivity"/>

        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>